<IfModule mod_rewrite.c>
RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule /test_api/v1/(.*)$ test_api/v1/campaigns.php?request=$1 [QSA,NC,L]
</IfModule>